/* Estilos globales */

img {
  width: 160px;
  border-radius: 13px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #172031;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: white;
}

button{
  background-color: rgb(29, 30, 104);
  color: white;
  margin-top: 60px;
  margin-bottom: 50px;
  height: 40px;
}

header {

  padding: 10px 20px;
  background-color: #1f2c44;
  display: flex;
  justify-content: space-between;
  height: 120px;
}
header img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

header > a {
  text-decoration: none;
  color: white;
  
}

.logo > a {
  text-decoration: none;
  color: white;
}

.barra-busqueda {
  padding: 7px;
  border-radius: 4px;
  border: none;
  width: 500px;
  outline: none;
  margin-bottom: 60px;
  margin-top: 20px;
}

.carrito {
  font-size: 1rem;
  color: white;
}

.nombreAlumno{
  color: rgb(128, 228, 231);
  margin-top: 20px;
  font-weight: bold;
}

#contenedor-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}

#contenedor-usuario button{
  margin: 0%;
  margin-top: 20px;
}

/* ================Seccion productos ================= */
.seccion-productos {
  padding: 20px;
}

/* Contenedor general */

.botones-orden {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.botones-orden button {
    padding: 8px 16px;
    background-color: #415A77; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: auto;
}

.botones-orden button:hover {
    background-color: #4782ce; 
}
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    gap: 60px;
}

.card-producto {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 0%;
  text-align: center;
  background-color: #95a9d4;
  box-shadow: 0 4px 15px rgba(77, 198, 228, 0.897);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-producto img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card-producto h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-decoration: underline;
}

.card-producto p {
  font-size: 1rem;
  font-weight: bold;
  color: #202020;
}

.card-producto button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #415A77;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.card-producto button:hover {
  background-color: #4782ce; 
}

/* ================Seccion carrito ================= */
.seccion-carrito {
  padding: 20px;
  background-color: #2b4d69;
  border-top: 1px solid #5178b3;
}

#items-carrito {
  padding: 10px 0;
  list-style-type: none;
  
}

.bloque-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.nombre-item {
  font-size: 20px;
  margin: 0;
}

.boton-eliminar {
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 6px 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.total-carrito {
  font-size: 1.2rem;
  text-align: right;
}

.boton-vaciar {
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}






